.rotating-rect {
  animation: rotatingRect 8s cubic-bezier(.7,-0.55,.4,1.65) infinite;
}

.rotating-circle {
  animation: rotatingCircle 8s cubic-bezier(.7,-0.55,.4,1.65) infinite;
}

@keyframes rotatingRect {
  from {
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dashoffset: -400;
  }

  to {
    stroke-dashoffset: -800;
  }
}

@keyframes rotatingCircle {
  from {
    stroke-dashoffset: 314.159;
  }

  50% {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -314.159;
  }
}
