.head {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
  vertical-align: bottom;
  text-align: center;
}

.rage {
  margin: 0;
  display: inline-block;
}

.heading {
  margin: 0 0 0 20px;
  display: inline-block;
}
